################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCwithWebForms8agosto2019/v16/Server/sqlite3
